<!DOCTYPE html>
<html>
<head>
    <title>Map of Toronto Visualization</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="/static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
</head>
<body>
    <h1 class="text-center mt-4">Map Visualization</h1>
    <div id="map" style="text-align: center; margin: 0 auto; width:90%;"></div>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="/static/js/map_logic.js"></script>
</body>
</html>